[2016-05-02 01:59] mattstauffer opened #1 "Bring in tests"

[2016-05-02 02:00] mattstauffer opened #2 "Automate split?"

[2016-05-02 03:32] #1 closed

[2016-05-02 06:05] assertchris opened #4 "Submit replace directive to illuminate/support"
https://getcomposer.org/doc/04-schema.md#replace

This is so that framework-agnostic libraries that depend on this one can be installed in Laravel applications.

[2016-05-02 06:13] assertchris opened #5 "Submit to Packagist"

[2016-05-03 03:48] #5 closed

[2016-05-03 03:48] mattstauffer commented on #5
https://packagist.org/packages/tightenco/collect

[2016-05-03 11:23] frankdejonge commented on #4
@assertchris Replacing packages is cumbersome, especially in long running projects, which the laravel project is. I think it would be be much easier to maintain when renaming the vendor to something other that Illuminate.

[2016-05-03 11:32] mattstauffer commented on #4
@frankdejonge can you explain more? This is a new idea for me. If it helps as clarification, this will have perfect feature parity with illuminate support. So if anything depends on this its dependency will always be satisfied by illuminate support.

[2016-05-03 11:41] frankdejonge commented on #4
@mattstauffer There's a gut feeling that makes me want to warn you, but I'm searching for the reasons. Partially it's about the "what is the truth" and "which source has precedence" issues. In theory, your source is a clone of the original, thus the original should have higher precedence than this package. But when people rely on this package, and with the addition of the replace clause your packa

[2016-05-03 11:43] assertchris commented on #4
@frankdejonge I think there's a bit of confusion here. What I meant was that the illuminate packages should replace this one (specifically support). If someone has illuminate/support, they should use that instead of this, so that this does not attempt to load the same namespaces and classes into scope.

[2016-05-03 11:44] frankdejonge commented on #4
@assertchris I see, that would be a lot better, however that solution doesn't really scale. In practise this may never happen, but since the laravel community is pretty damn big it might. What happens when 10 packages do this?

[2016-05-03 11:45] assertchris commented on #4
Then they are all replaced by the official packages.

[2016-05-03 11:46] frankdejonge commented on #4
And the "source" package would have to be aware of all of them in order for that to work. Which is a nuisance.

[2016-05-03 11:47] assertchris commented on #4
In this case, the author of the source package has approved the split. It's somewhat of a special case.

[2016-05-03 11:57] simensen commented on #4
👍 for having `illumiate/support` replace this package. If you aren't going to put the actual code in its own unique namespace it is the only option I'm aware of that will be safe/responsible.

[2016-05-03 11:58] frankdejonge commented on #4
Just as a thought experiment, what would be against using an "own" namespace instead of `Illuminate`?

[2016-05-03 12:00] mattstauffer commented on #4
Main reason I didn't up front was a) more work and complexity for when I automate it, b) more questions about whether or not it's a perfect duplicate, c) less clear attribution that it's all Taylor's work, d) less drop in ability since anyone who type hints or anything would all of a sudden not be able to use it. 

Thoughts?

Sent from Outlook Mobile

On Tue, May 3, 2016 at 4:58 AM -0700, "Frank d

[2016-05-03 12:03] barryvdh commented on #4
Can't you just convince Taylor to split the collections class stuff from the support package to an 'official' laravel repo ;)

[2016-05-03 12:04] mattstauffer commented on #4
Taylor was up for it. But I did about 50% of the work and the amount of work you have to duplicate, between macroable and arr:: methods and stuff ends up making laravel 's code base way more awful for a relatively edge case need. 

Sent from Outlook Mobile

On Tue, May 3, 2016 at 5:03 AM -0700, "Barry vd. Heuvel" <notifications@github.com> wrote:

Can't you just convince Taylor to split the collec

[2016-05-03 12:09] barryvdh commented on #4
I do have to agree with Frank that this doesn't really 'feel right', unless you can indeed force preference for the original Laravel package. It _should_ be mostly compatible, but if some package relies on the 2% you're missing here, and no way to tell which class will be loaded (this repo or the 'real' package), it's just waiting for conflicts..

[2016-05-03 12:11] assertchris commented on #4
@barryvdh but there is a way to know which will be loaded - if the official package has a `replace` object specifying this package, the official package will always be loaded. That certainly is the reason I created this issue.

[2016-05-03 12:12] mattstauffer commented on #4
The 2% is a test for an eloquent collection that shouldn't be in here. Zero functionality difference. 
If I stay in the same namespace I will either pr "replace" support to illuminate--the point of this particular issue we are chatting in--or put huge warnings to package authors. 
Thanks for input 👍

Sent from Outlook Mobile

On Tue, May 3, 2016 at 5:09 AM -0700, "Barry vd. Heuvel" <notifications@

[2016-05-03 12:14] barryvdh commented on #4
@assertchris Yes that's what I meant. I know it's possible, but Taylor still needs to accept it ;). If it's fully compatible and will be replaced with the official support when possible, there probably isn't a problem :)

[2016-05-03 12:17] frankdejonge commented on #4
Anyway, sorry to derail this discussion. I've put forward the concerns I have with this solution. It seems these concerns are not shared (which is perfectly fine of course). Carry on :)

[2016-05-03 13:20] irazasyed commented on #4
Glad I checked the issue section and thanks for opening this @assertchris.

I wanted to use this for a project but was concerned about conflicts when using with Laravel/Lumen. Having an official repo for collections would be great :)

+1 for same namespace and PR to "replace" @mattstauffer.

[2016-05-03 17:43] irazasyed opened #7 "Other helper methods?"
Can we get other helper methods like `array_get` and stuff?

I use them in a project that pulls in the support package.

I can send a PR if you're okay with it? I don't see any contributing guidelines BTW.

[2016-05-03 18:04] mattstauffer commented on #7
Collections only, sorry! The only helpers we have here are because they're required in order for collections to work. I'll work on getting contributing guidelines set up, but basically, nothing goes in unless it's absolutely required to support collections. Thanks!

Sent from Outlook Mobile

On Tue, May 3, 2016 at 10:43 AM -0700, "Syed Irfaq R." <notifications@github.com> wrote:

Can we get other

[2016-05-03 18:22] #7 closed

[2016-05-03 18:24] mattstauffer commented on #4
@frankdejonge Not sure if I would describe at as these concerns not being shared, but rather I've never done this before.. I'm doing my best to consider the possible negative impacts of choosing the course we have and, while I have had several general worries that it'll cause a conflict, I can't come up with any concrete ways it will--and neither has anyone yet, as far as I can see.

I'm 100% open

[2016-05-03 19:45] frankdejonge commented on #4
@mattstauffer I've mentioned the possibility of double/co- installs, which you say shouldn't and won't happen (but it wil, I promise ;)) , and the inverted dependency relation (project overwriting the "fork"), which you say also isn't a problem. But I'm pretty sure if random people from the community start doing this, it's going to be an issue. But if you think that's all minor and manageable, it'

[2016-05-03 19:58] mattstauffer commented on #4
@frankdejonge <3 thanks bud.

Double/co-installs would be the fault of the individual coder (assuming we get the `replace` directive set up correctly) and I literally do not care. :) Yes, it might be a pain in the butt some times; if it gets so awful I can't handle it I'll shut it down. If I do end up doing, or complaining, please feel free to link to this comment with a giant troll graphic :)

In

[2016-05-09 21:18] assertchris opened #8 "Badges, son!"

[2016-05-09 21:36] michaelachrisco opened #9 "Collect Map/transform arguments as procs"
array_map supports a string argument that will call on another function:
[code]

This is a convenience method as we don't need to push an entire proc to the array_map.
Not sure about the best method to apply, but I believe something like:
[code]
could be feasible.

[2016-05-09 21:37] michaelachrisco commented on #9
Also, not sure if this is the correct place for this feature request or https://github.com/laravel/internals/issues?

[2016-05-09 21:39] assertchris commented on #9
@michaelachrisco I think the best place with out in that internals repo first. This repo is intentionally as close to the official API as possible.

[2016-05-09 21:40] michaelachrisco commented on #9
Thanks, Ill close this then and re-post over there.

[2016-05-09 21:40] #9 closed

[2016-05-26 01:07] #8 closed

[2016-06-23 11:59] barryvdh commented on #4
Soo I see https://github.com/laravel/framework/pull/14118 from @eFrane now

[2016-06-23 12:01] eFrane commented on #4
Whoops. I guess I should have checked here first.

[2016-06-23 12:33] mattstauffer commented on #4
@eFrane That's not a problem at all! I think in the end I didn't see any reasons *not* to submit a replace directive.

[2016-06-23 13:16] mattstauffer commented on #4
Done: https://github.com/laravel/framework/pull/14118

[2016-06-23 13:16] #4 closed

[2016-07-31 00:26] Stunt opened #15 "Arr helpers"
Does it make sense to add `Arr` helpers as well ? sometimes it's more convenient to use one of them and `Arr` class already available.

[2016-07-31 03:19] mattstauffer commented on #15
Hey @Stunt, thanks for the idea! It's tempting to bring a lot of the other helpers in, but the whole point of this class is to be narrow. If you find yourself wanting to bring in other tools from the Illuminate Support library, there's nothing stopping you from just bringing in the Illuminate Support library in a project--it's not that heavy as-is.

Thanks!

[2016-07-31 03:19] #15 closed

[2016-07-31 03:33] josephzidell commented on #2
+1

[2016-08-29 16:26] JohnathonKoster commented on #2
Is there still interested in automating the split process?

[2016-08-29 16:26] mattstauffer commented on #2
@JohnathonKoster yep!

[2016-08-29 16:28] JohnathonKoster commented on #2
@mattstauffer i have a few ideas that I will try out and update this issue, most likely tomorrow morning!

[2016-08-30 17:25] JohnathonKoster commented on #2
I've made some progress, but there is still a lot of work to do. I have not yet automated the process of updating a repo and releasing new versions with the split Collection components.

Here are some things that do work now:

* Getting a list of new Laravel releases and comparing the list of versions already split;
* Performing the actual split process (uses static analysis to find all the classe

[2016-09-05 08:32] JohnathonKoster commented on #2
@mattstauffer

I've made quite a bit of progress over the last week on a utility to perform the automation process (https://github.com/JohnathonKoster/collector). I have to write the usage docs still, but here is a repository containing the generated output to get a sense of what it can do:

https://github.com/JohnathonKoster/collector-output-test

It split out **119 releases** and pushed them aut

[2016-09-08 17:31] mattstauffer commented on #2
@JohnathonKoster Awesome, I can't wait to take a look at it--thanks for all of your hard work!

[2016-09-09 00:52] JohnathonKoster commented on #2
@mattstauffer Not a problem! If you experience any issues, please let me know!

[2016-10-18 20:07] holtkamp commented on #4
mmm, I "think" the following case is related, caused me some frustrations:

- was happily using ```"tightenco/collect": "^5.3"``` in my ```composer.json```
- thought [these macro's](https://github.com/spatie/laravel-collection-macros) would be nice to have
- added ```"spatie/laravel-collection-macros": "@stable"``` to my ```composer.json```
 - ```"spatie/laravel-collection-macros"``` [depends on `

[2016-10-18 20:28] holtkamp commented on #4
Slightly related: https://github.com/spatie/laravel-collection-macros/issues/18

Thought of having this repo ```replace``` the collection part of ```illuminate/support```, but since that is not an isolation section, this is currently not an option 😢

[2016-10-20 19:55] mattstauffer commented on #2
@JohnathonKoster Just FYI: I still appreciate your really hard work here! I apologize I'm so slow on this, life is a bit insane right now--but I *really* appreciate this!

[2016-10-20 19:59] JohnathonKoster commented on #2
@mattstauffer Not a problem; I totally understand!

[2016-10-22 21:21] clarkeash commented on #2
I just created https://github.com/clarkeash/str inspired by this package, so ill be taking a look at this updater :)

[2016-11-17 03:03] guitarbien opened #25 "PHP version >= 5.5.9"
Hi, I got an warning in PHP 5.5.28 with this package, because array_filter's 3rd parameter is supported for greater than 5.6 .

Should the Compose.json require be modify?
Thanks

[2016-11-18 16:26] besologic commented on #25
Hi @guitarbien, thanks for pointing this out. We'll update it.

[2016-11-18 16:30] #25 closed

[2017-06-28 20:57] uC137 opened #45 "Add dd and dump functionality"
As you can see Taylor added dd and dump methods to [collection](https://github.com/illuminate/support/commit/fb0286af2111c686d954c7c00aa4147e4aacb591). Would be nice if we add that.

[2017-06-28 21:12] besologic commented on #45
Thanks @uC137! It'll get added whenever a new release of Laravel is tagged and we update our version.

[2017-06-28 21:19] #45 closed

[2017-09-14 20:04] adamwathan opened #54 "Consider changing namespace"
Right now there's a weird situation that can occur where you get two versions of Illuminate\Support\Collection installed in your project but can only access the Laravel version.

Say you have a Laravel 5.1 project, where the collection class doesn't have a function like `mapWithKeys`.

If you run `composer require "tightenco/collect:^5.5"`, this package's version of the Collection classes will be

[2017-09-14 20:07] mattstauffer commented on #54
@adamwathan I have been thinking about this for a long time. I think it's almost definitely the right decision. And I think it's fine to make the version number match, since we're doing that manually right now anyway.

I want to ask for any suggestions for why this could cause any harm, but I've been thinking this direction for a while so I'm definitely ready for us to start considering it--the co

[2017-09-14 20:09] adamwathan commented on #54
The only issue I can see is that we'd need to wait for a new version of Laravel to be tagged to tag a new release of this package with the changed namespace in order to keep the versions matching, but that new version will be a patch release and it'll be a major BC break.

One possible solution is to duplicate the entire `Illuminate` folder in this package and provide all of the same code under tw

[2017-09-14 21:04] RemiCollin commented on #54
I'm wondering if it wouldn't be possible to use a conditionnal `class_alias()` to change namespace and provide backward compatibility at the same time. Something like :

[code]

That way the package would silently defer to actual `Illuminate\Support\Collection` implementation if it's already in the dependency tree. Didn't try something like this before but I guess it's worth a try.

That said, the

[2017-09-15 13:36] damiani commented on #54
One potential problem with this approach: functions in `helpers.php` from the  first package loaded will still take precedence, so things like `collect()` and `with()` could still make unpredictable references to the "wrong" package.

[2017-09-15 13:37] adamwathan commented on #54
Yeah I think that's unavoidable though; I know as a package maintainer myself I will just immediately switch to using TightenCo/Collection::make() to be explicit and avoid any ambiguity.

[2017-09-15 13:40] damiani commented on #54
Yeah I guess that's a fair trade-off, better than blowing everything up.

[2017-10-01 12:56] mattstauffer commented on #2
I listed this as an issue on our Hacktoberfest list. A pull request here would necessitate a) testing out the proposed splitter and b) making a pull request to the repo with instructions.

[2017-10-23 06:57] aaemnnosttv opened #64 "Fails with dd/dump() 😞"
Using the `dd` or `dump` methods produces a fatal error, regardless of whether `symfony/var-dumper` is installed or not.

`dd` method produces:
[code]

`dump` method produces:
[code]

Seems to be another dependency from `Illuminate\Support` which is missing.

I'm not sure if this is intentional but I would expect that it should still work.

Using `v5.5.16`

[2017-11-08 01:54] cristiangrama commented on #4
Let's say I create a package (api wrapper) with this package as a dependency and I choose the ^5.3 version. Someone then will install my package in a Laravel 5.5 version. What would happen then? I suppose the dependency would not be satisfiable and my package would not be able to be installed?

[2017-11-09 17:47] mattstauffer commented on #64
Closed by https://github.com/tightenco/collect/pull/65

[2017-11-09 17:47] #64 closed

[2017-11-14 08:02] augmenter opened #67 "Same packages installed as on illuminate/support"
It seems that the same packages are installed when doing require tightenco/collect or illuminate/support:
symfony:
composer
doctrine
illuminate
nesbot
psr
symfony

tesco:
composer
doctrine
illuminate
nesbot
psr symfony

Am I missing something here?

[2017-11-14 13:05] mattstauffer commented on #67
@augmenter If you create a new application and require only `tightenco\collect`, I think you'll find a different list than you have here.

[2017-11-14 13:05] #67 closed

[2018-01-04 00:46] claytonrcarter opened #70 "Problem updating with Composer"
This is probably an issue with how I have things set up (isn't it always?) but updating other packages seems to work fine.

I'm limited to PHP 5.6, so I can't use collect 5.5, and I have to stay with the 5.4 branch. Collect has been working perfectly for months: thank you!

If I install this way, everything works perfectly, but I'm installing only 5.4.0:
[code]

Then, if I try to install `^5.4`, t

[2018-01-04 02:58] antonioribeiro commented on #70
You have to

[code]

The `^` tells composer to use [semantic versioning](https://getcomposer.org/doc/articles/versions.md#caret-version-range-), so, the next stable version would be 5.5, according to Semver.

[2018-01-04 12:22] claytonrcarter commented on #70
Thank you, but that doesn't work for me
[code]
also, if that's the case, why does it seem to work for the Illuminate packages, but not this one?

[2018-01-04 12:36] claytonrcarter commented on #70
More fun with version constraints! None of the following seem to work:
[code]
All three of these result in `tightenco/collect` being removed (if it's been installed) or in "Nothing to install or update" if it hasn't already been installed.

[2018-01-04 13:36] antonioribeiro commented on #70
I confirm there's something odd there, and it is, probably, related to the installation of an Illuminate package which is requiring Illuminate\Support, which has Collection. Currently Tightenco\Collect uses the very same namespace of Illuminate\Collection, which might be causing the glitch. There are [some](https://github.com/tightenco/collect/pull/68) [pull requests](https://github.com/tightenco/

[2018-01-04 14:04] claytonrcarter commented on #70
💡 Aha! Thank you @antonioribeiro. We pulled in `illuminate/routing` (which depends on `illuminate/support`) a few months ago and I didn't realize I was getting a duplicate of `Collection`.  This doesn't resolve the issue, but at least I can move on without worrying about it. Thank you for your help!

[2018-01-04 15:00] #70 closed

[2018-01-31 20:57] #54 closed

[2018-02-09 03:59] #2 closed

[2018-02-09 14:57] antonioribeiro opened #76 "Follow all Laravel versions"
I feel we should follow them all, even when there's no changes in Collection (and dependencies), because it may be confusing seeing `tightenco/collect` tagged `5.6.0` while `laravel/framework` is already at `5.6.3`: "is it outdated or not?", may some think.

[2018-02-09 16:03] mattstauffer commented on #76
@antonioribeiro HA I just had this exact idea last night!! Totally agree.

[2018-02-09 16:03] #76 closed

[2018-02-19 12:15] mathieutu opened #83 "Dependency of sf var_dumper"
Hi,

Are we really obliged to have the var_dumper in dependency?
In fact, the dump/dd functions are almost not used comparing to other, and in my opinion we shouldn't force people to have this dependency which have no link with collections.

In fact I want to use a package which needs tightenco/collect on a symfony 3.3 projet, and I can't install it because of the var_dumper version 4 required (co

[2018-02-19 13:17] antonioribeiro commented on #83
Removing VarDumper will throw an exception if dd() is used:

![image](https://user-images.githubusercontent.com/3182864/36378635-540f659c-155a-11e8-9b87-48530c5cc725.png)

It would be nice if we could fall back to `var_dump()`, but that's how Illuminate's Collection works now.

@mathieutu, I'm not sure if you want it gone or just install Collect in your project, because we could just:

[code]

And

[2018-02-19 13:32] antonioribeiro commented on #83
I just sent a [PR](https://github.com/tightenco/collect/issues) to make it `>=3.1`, but I know that "the less dependencies the better", so @mattstauffer, feel free to close it and just remove the dependency ;)

[2018-02-19 19:46] mathieutu commented on #83
@antonioribeiro thanks for the PR, this is the minimum to do indeed. But as I said, theses 2 functions are only used for testing, so we shouldn't include the dependency by default. A suggestion as it was previously is the best choice for me: if you want to dump, you can install the package (on your dev dependencies ideally).

[2018-02-19 21:28] antonioribeiro commented on #83
@mathieutu I almost agree with you ;)

But, somehow I don't like very much to see things breaking like this, and expect that the user (yeah, a developer) will realize it's something they should install, which was shown to them (as suggestion) only once, when they first installed the package. I'll say it again: I'm not against it, I just don't like it very much.

Well... I also think this communica

[2018-02-20 03:07] mattstauffer commented on #83
Nice work @antonioribeiro!

In general, I agree with Antonio. People very seldom read the suggestions; and when something breaks, their first thought will *not* be "Oh maybe there's a suggested package I didn't install here."

If that Composer tickets fails, we could possibly see if there's any way we could bind a `var_dump` style alternative ourselves if the package does not exist? Haven't looked

[2018-02-21 18:16] mattstauffer commented on #83
Closing as it's resolved as far as we can get it; let's re-open if we hear from Composer. :) <3

[2018-02-21 18:16] #83 closed

[2018-02-22 09:27] Najki opened #86 "Namespace change in a bugfix release"
I really hope it's a simple mistake, but it seems that You've changed the namespace from `\Illuminate` to `\Tightenco\Collect` and made minor and bugfix releases including it.

It's a backward incompatible change which should be released as a major 6.0.0. It broke a lot of my tests in several projects. For now, I'm locking my requirement to 5.5.32.

[2018-02-22 12:10] mattstauffer commented on #86
There’s a class Ali’s file that *should* be aliasing it to the original illuminate namespaces. Could you give us a little more information about the context where you’re using it so we can try to figure this out?

[2018-02-22 12:10] mattstauffer commented on #86
*alis

[2018-02-22 12:11] mattstauffer commented on #86
*alias.  Typing is hard sometimes.

[2018-02-22 12:31] Najki commented on #86
We pass collections from one place to another on many occasions and we use type hints and return type declarations in PHP 7.1. So the first thing that we saw after upgrading this library to 5.5.33 was a lot of TypeError exceptions in unit tests.

[2018-02-22 12:34] antonioribeiro commented on #86
I can confirm the bug.

Aliases array should be

[code]

instead of

[code]

This was one of the reasons I've made that change to damiani's, but I think I got lost discussing a different matter on the same subject.

[2018-02-22 14:13] antonioribeiro commented on #86
This package follows Laravel's versions and, by that, also the versioning system, which is not Semver. So, usually we have breaking changes in minor releases, but not on patches, and the namespace change happened on the patch 5.5.33, right before the "major" release to 5.6.0.

I think we could revert the changes in 5.5.33 and retag it, to update the code while keeping the namespace, I have just cr

[2018-02-22 14:57] mattstauffer commented on #86
This will be fixed as soon as Laravel 5.6.5  comes out. I'll have to look into whether it's really possible to re-tag without breaking everything.

[2018-02-22 14:57] #86 closed

[2018-02-22 14:59] mattstauffer commented on #86
And yah, FWIW, this isn't a backward compatible break; this is a new feature that won't break anything for anyone.. UNLESS there's a bug in implementing it... which we had. Blegh.

Like @antonioribeiro said, we're beholden to Laravel's versioning scheme so we have to work outside of some of the usual constraints of open source packages.

[2018-02-22 15:09] antonioribeiro commented on #86
@Najki , your Illuminate type hints should work fine when it's released.

[2018-02-22 18:22] mathieutu opened #88 "Composer conflict in a laravel project"
Hi, it's me again!
After some problems in sf projects, I've them now during a Laravel update.

In fact:

In `mathieutu/exporter` v2.0.0 I'm requiring `tightenco/collect` ^5.6 : https://github.com/mathieutu/exporter/blob/master/composer.json.

With this package in a Laravel project, I can't update `laravel/framework` to 5.6.4 (where the change of collect replace was done):

[code]

If I require tig

[2018-02-22 18:48] mattstauffer commented on #88
@mathieutu My guess is this has to do with #76, which we are going to fix going forward.  I MAY be able to also back-release Collect for 5.6.1, 5.6.2, and 5.6.3, which would fix this problem. I'll take a look ASAP.

[2018-02-22 20:28] antonioribeiro commented on #88
@mathieutu, Collect has no requirement ties with Laravel. Your problem is probably related to something else you have installed.

So I tried installing only your package:

![image](https://user-images.githubusercontent.com/3182864/36562127-ba42ca4c-17f4-11e8-9c68-5c71ffd7fb92.png)

And then required the Framework:

![image](https://user-images.githubusercontent.com/3182864/36562335-78f8e192-17f5-1

[2018-02-22 20:52] antonioribeiro commented on #88
Sorry, scratch that. I was able to reproduce your problem, which keeps making no sense. The only tie with Laravel was the `"replace"`, in place only for Collect <5.5.33 now:

https://github.com/laravel/framework/commit/5caa88acde3d8a82fcbb9bbec8dde45dc49d4b7b

[2018-02-22 21:10] antonioribeiro commented on #88
@mathieutu, @mattstauffer just upgraded it to 5.6.5, and I did a test here with your package and it works fine now.

![image](https://user-images.githubusercontent.com/3182864/36564336-ae582d38-17fb-11e8-8609-fb4a432a8a81.png)

[2018-02-22 21:11] mathieutu commented on #88
Yeah no problem like that too.
But if you do, like a real case a`composer require laravel/framework` in a empty folder, then `composer require mathieutu/exporter`, you will see the exact same problem (the same if you create-project of laravel/laravel).
And collect is the only dependency the package has, so I can't see another source of the problem.
The conflicts occur since version 5.6.4, where we

[2018-02-22 21:17] mathieutu commented on #88
Sorry didn't see your previous comments @antonioribeiro
But I've still the pb :/ .
Just try: `mkdir foo && cd foo && cr laravel/framework  && cr mathieutu/exporter`

I think that if it happens to me, it should happens to others package maintainer that use collect.

[2018-02-22 21:22] mathieutu commented on #88
But as I said, if you `mkdir foo && cd foo && cr laravel/framework && cr tightenco/collect && cr mathieutu/exporter` it works. It needs to have collect as root dependency, and I can't understand why.. 😞

[2018-02-22 21:26] antonioribeiro commented on #88
Yeah, this dependency resolution is somehow broken. You can try to change the requiremento to `>=5.6.5` instead of `^5.6`, but it's very long shot.

[2018-02-22 21:54] antonioribeiro commented on #88
Opened an issue in Composer: https://github.com/composer/composer/issues/7129

[2018-02-23 10:04] mathieutu commented on #88
Ok, I've understood the problem with some similar issues in composer repo, you can check my comment here: https://github.com/composer/composer/issues/7129#issuecomment-367964793

(I don't know where to continue the discussion now 😅)

[2018-02-23 10:09] mathieutu commented on #88
see https://github.com/composer/composer/pull/3746#issuecomment-74667638 for the explanation about different versions.

So to summarize if I've understood well, the collect package *is not supposed to work anymore with laravel*, because it can't be installed with different version. The fact we can install it in root is probably a bug.

[2018-02-23 13:27] Najki commented on #86
Thanks

[2018-02-23 16:52] antonioribeiro commented on #88
Yeah, yesterday I was almost sure it was the `replace`, so I started a test I was just able to finish now. Copied the framework: https://packagist.org/packages/antonioribeiro/framerocks, to try some scenarios:

- [working] `self.version` (which is not an option, we moved from it to `<5.5.33`)
- [working] without `replace`
- [working] using `>=5.5.33` (which works fine, ignoring Collect 5.6.*, but

[2018-02-23 18:54] mathieutu opened #90 "[BC] Type conflict with Laravel"
Hi again!
I'm sorry to be the one who open all theses issues, but as I'm working a lot with collect and Laravel for now, I'm seeing all the problems.

Again a problem due to the namespace change (and so, the composer replace) but not the fault of composer this time:

I have a regression in my project because of a `Tightenco\Collect\Support\Collection::make`

In fact you can reproduce easily the pr

[2018-02-23 18:57] mattstauffer commented on #90
@mathieutu Thanks for taking a look at this! Very good point. I'm curious about how we can modify it to fix this `self` reference.  And you're right--this was more complicated than we had hoped. Fixed some problems, caused more.

[2018-02-23 19:01] mathieutu commented on #54
@adamwathan I though like you about `Collection::make()` but actually it doesn't work. Check my issue about that: https://github.com/tightenco/collect/issues/90

[2018-02-23 22:04] mattstauffer commented on #90
Our current best idea is to programmatically replace all the `instanceof self` checks, which is a bit of a hack but we're out of better ideas. Anyone else have any other ideas?

[2018-02-24 01:04] antonioribeiro commented on #90
Another one is to be a little more explicit by renaming

[code]

to

[code]

And extending it:

[code]

[2018-02-24 02:00] antonioribeiro commented on #90
An alternative to not tie it to Illuminate directly, being a little more generic, but also riskier:

[code]

[2018-03-03 16:55] antonioribeiro commented on #88
Just sent a new PR to fix it, according [this discussion](https://github.com/composer/composer/issues/7129): https://github.com/laravel/framework/pull/23379

[2018-03-06 19:05] tomcoonen opened #92 "Laravel collect() returns the wrong class when using tightenco/collect"
It seems to be related to the loading sequence I guess, when installing the dev dependencies the issue is gone. So in dev I have no issues, but on non-dev environments the issue is 100% persistent.

How can we prevent the error?

PHP Version: 7.1.12
Laravel: 5.6.8
tightenco/collect: 5.6.7

`
Type error: Argument 1 passed to Illuminate\Routing\Router::sortMiddleware() must be an instance of Illumin

[2018-03-06 19:54] tomcoonen commented on #92
Confirmed the issue with the loading sequence (vendor/composer/autoload_static.php):
[code]

[2018-03-07 09:57] mpociot commented on #92
I'm also experiencing this.
Using this package in combination with Laravel 5.6.8 does not work for me anymore because it gets loaded before the Laravel helpers get loaded.

[2018-03-07 10:12] mpociot commented on #92
I opened an issue on the Laravel repository too: https://github.com/laravel/framework/issues/23420

[2018-03-07 12:10] mpociot commented on #92
Wouldn't it be sufficient to just check if the Illuminate Collection class exists in the helpers.php file?

So basically just wrap everything inside:

[code]

We're already aliasing the tighten classes in case the illuminate classes do not exist - so if we do the same thing for the helper methods, we're good.

At least that's easier than namespacing / prefixing all existing helper functions - whic

[2018-03-07 14:19] mattstauffer commented on #92
@mpociot Great idea! @damiani and I will be in the same physical location for the next few days so we're going to try to map out a solution that fixes this and the other problems we've run into, and we'll try to have one single fix that hopefully addresses them all.

Thanks!

[2018-03-07 17:16] antonioribeiro commented on #92
According to this issue in Composer: https://github.com/composer/composer/issues/956 and this PR which fixed it: https://github.com/composer/composer/pull/1051/files#diff-33037407f7f293f37df2258567b56598R238

I agree this is a big issue, but I could not reproduce the bug, because, unfortunately (or luckily) it looks like the order on `autoload_static` is somehow random, or depends on something els

[2018-03-10 09:12] mpociot commented on #92
@antonioribeiro I'm able to reproduce it with this:

[code]

[2018-03-10 09:28] tomcoonen commented on #92
Since we have no control on the loading sequence of the files, this package should be Laravel aware by like @mpociot ‘s proposal e.g.

[2018-03-14 22:13] mpociot commented on #92
Hey @mattstauffer ,
Any update on this? I can submit a PR with my proposed changes, if you want.

[2018-03-15 03:33] mattstauffer commented on #92
@mpociot Thanks for asking! We still haven't found a good solution, to be honest.

Wouldn't your proposed changes suffer from the same problem: That if they run before Laravel is loaded, it wont' detect that the class exists?

I think any such conditional would have to be *inside* the definition, changing which class it returns, rather than outside of it. Thoughts?

[2018-03-15 12:12] mpociot commented on #92
@mattstauffer No that is not a problem.

The `helpers.php` gets loaded from the composer autoloader and at this time, it already knows about the available classes and can check if the `Illuminate\Support\Collection` class exists.

You can manually test this by doing:

## Reproduce bug
[code]

Open the `autoload_static.php` file and you'll see that the `/tightenco/collect/src/Collect/Support/helper

[2018-03-15 17:59] mattstauffer commented on #92
@mpociot Ahhh... we're having two issues here.

One has to do with the load order (which you are NOT seeing), and another has to do with the collect helper.

Your proposed solution fixes the second one:

In a laravel project which includes collect or includes a package which includes collect
If Collect's helpers are autoloaded before Laravel
then the collect function is defined by Collect's helper

[2018-03-15 18:12] mpociot commented on #92
@mattstauffer To be honest, I’m having a hard time wrapping my head around the load order issue, as I do not really see the difference between these two issues.

Isn’t the original issue posted by @tomcoonen only related to the helpers being defined by collect instead of Laravel? That’s the exact same issue that you can reproduce with my example.

Let me know if I get something wrong 😅

Regarding

[2018-03-15 19:16] rodrigobendia commented on #92
What about removing the type hint from the `Illuminate\Routing\Router` `sortMiddleware` function?

Changing it to array is also a possibility, since the `SortedMiddleware` does not require the second argument to be a Collection instance.

I'm not able to test right now, but I think it would solve the problem.

[2018-03-15 19:27] sisve commented on #92
@rodrigobendia That would just move the problem to the next method that type-hints Laravel's Collection class.

[2018-03-15 21:17] antonioribeiro commented on #92
You just have to change the stub and run the script `upgrade.sh`, which will use the stub to create the actual helper file and will also run all tests for you.

[2018-03-16 00:23] antonioribeiro commented on #92
We have some issues here:

### The autoloading order of vendors files

This is the original subject of this issue and this matters because `Tighenco\Collect\Support\helpers.php` may load before Laravel's helpers and the `collect()`, called on Laravel's internals, will instantiate `Collect` objects instead of `Collection` objects. @mpociot's proposal fixes this by completely disabling Collect's hel

[2018-03-16 01:14] mattstauffer commented on #92
I was under the impression that it was the entire loading that was out of order. If it's just that the autoloading of the *files* that's out of order, but not the PSR-4 classes, then yah, I think that would solve quite a few of the issues we're having.

Is that definitively true? The only issue here is that our *files* are loading out of order, but by the time our files have loaded, the classes ha

[2018-03-16 01:36] antonioribeiro commented on #92
The last thing the autoloader does, after loading PSR4, PSR0, ClassMap is to load "files", so classes should have been all loaded at this point:

[code]

[2018-03-16 01:43] mattstauffer commented on #92
Geez. Then yes. This Pr of marcel’s Work with antonio’s Suggested alterations of the upgrade script sound like exactly what we need. Thanks!

[2018-03-16 08:09] tomcoonen commented on #92
The only issue I'm having is the loading order of the files, since its sort of random (depends on the packages you require).
A composer update now sometimes breaks a project when this package is loaded before Laravel's.

I didn't test the solution from @mpociot yet, but looking at it I think it solves the problem.

[2018-03-16 08:53] kre8or69 commented on #92
I was having this problem too, changing the file order worked. But after I changed them back (and it broke again) and applied @mpociot fix and its all good now! 👍

[2018-03-16 15:22] mattstauffer commented on #92
@tomcoonen @kre8or69 and anyone else who had this issue: I've merged a fix to master but not tagged yet. Could you try pulling this in dev-master (if that's possible and easy) to see if it fixes it for you? If that's too hard, no worries.

[2018-03-18 13:27] mathieutu commented on #90
Hi guys!
Some news about that?

@mattstauffer @adamwathan Do you think we could convince @taylorotwell to definitely create a Illuminate/Collection to avoid all of theses problems?

I like your ideas @antonioribeiro but, this is not the only place where an `instance of self` is and will be done, so they are not durable fixes in my opinion.

[2018-03-18 13:33] mattstauffer commented on #90
@mathieutu Taylor was always on-board with separating it, but because it has so many dependencies on other things in Support, it was always a really big task that would have negative impacts on the rest of the framework.

It's possible that things are simpler now; or the work we've done to make it clear what Collect relies on would make it an easier task. But it's not that he wasn't willing; it's

[2018-03-19 07:58] tomcoonen commented on #92
@mattstauffer I can't require the package on a current project since dependency restrictions won't allow me.
On a fresh project I experience the same as @mpociot , it fixes the helpers.

[2018-03-19 09:37] kre8or69 commented on #92
Yeah i'm the same sorry!

[2018-03-19 15:00] mattstauffer commented on #92
OK, I've tagged it with 5.6.12 and I think we're good. Here's hoping!

[2018-03-19 15:00] #92 closed

[2018-03-22 21:05] mattstauffer commented on #88
@antonioribeiro is this good and close-able?

[2018-03-22 22:49] antonioribeiro commented on #88
Yeah, I think it's definitely fixed now, please close.

[2018-03-22 22:50] #88 closed

[2018-05-09 16:18] mathieutu opened #104 "[BC] Conflict with Laravel Collection part 2 !"
Hi,
Here a conflict with the `Arrayable` interface.

I have a Laravel Collection with several Tightenco collection inside.

When using `toArray()` on the main Laravel Collection, it doesn't touch the Tightenco ones... 😞

It's because of the `\Illuminate\Contracts\Support\Arrayable` and `\Tightenco\Collect\Contracts\Support\Arrayable` Interfaces.

Because of these sort of bugs, packages that use Ti

[2018-05-10 19:56] Isinlor commented on #104
I'm pretty sure that @taylorotwell could extract contracts that collections are depending on to a separate package without affecting Laravel.

BTW - There was also an old proposal to deal with problem like that on PHP level: https://wiki.php.net/rfc/protocol_type_hinting

But it was withdrawn.

[2018-05-10 20:12] Isinlor opened #105 "Revert to Laravel namespace?"
The issues seem like pretty good reason to ignore courtesy and go with Laravel namespace.
https://github.com/tightenco/collect/issues/104
https://github.com/tightenco/collect/issues/90

Was there any technical reason to change namespace?

Packagist should be fine with package named `NotLaravel/Collection` delivering classes from Laravel namespace. I would also expect php/composer autoloader to han

[2018-05-10 21:11] mattstauffer commented on #104
@mathieutu I think we have an open issue about this--I'll take a look ASAP. We're trying to figure out a good solution, but it's definitely tough.

@Isinlor Please feel free to read the link I gave you in #105 to see the history, but in short, we need to imagine situations in which different versions of Collect and Laravel are in the same project. They need to be able to be separate because the AP

[2018-05-11 18:33] mattstauffer commented on #104
(nope, the one I saw was your first one.)

We dug into a bit at our company on-site a few weeks ago and we fixed all of the problem except these namespace issues. Thanks for bring it back up!

[2018-05-11 20:44] Isinlor commented on #104
@mattstauffer Yes, thanks for the link. It's a good read.

Do you have some link to the efforts you took with Taylor? I would be interested to read these too if they are available.

I understand that extracting concrete implementations may lead to mess in Laravel, since there seems to be quite a lot cross dependencies.

But I think it could be a solution in the case of contracts required by this p

[2018-05-11 20:52] mattstauffer commented on #104
@Isinlor No link, sorry.

And, frankly, there's no compelling reason for Laravel to extract these packages *or* to maintain references to copies someone else extract just for the sake of our library working. It's a nice thought, but it's just not going to happen. We even had a single line in Laravel's `composer.json` referencing Collect as a replacement and deeply regretted it later. The conclusio

[2018-05-12 18:35] mathieutu commented on #104
For this particular issue, it could be possible to check if the Laravel interfaces are available and make some class aliases, or replacements?

Maybe we can even make a service provider that will be registered only in Laravel projects, and execute inside some processes which permit to avoid all the conflicts?

[2018-05-14 05:32] balsing opened #106 "License"
Hello.

Tell me please what license is your code distributed?

[2018-05-14 21:46] mattstauffer commented on #106
MIT. https://opensource.org/licenses/MIT

[2018-05-14 21:46] #106 closed

[2018-07-23 19:33] RaKhoury opened #113 "i have problem with composer require cartalyst/stripe-laravel"
C:\xampp\htdocs\EX\first_ecommerce>composer require cartalyst/stripe-laravel
Using version ^8.0 for cartalyst/stripe-laravel
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for cartalyst/stripe-larav

[2018-07-27 12:16] mattstauffer commented on #113
I can't see why this issue has anything to do with `tightenco/collect`?

[2018-07-27 12:16] #113 closed

[2018-08-22 16:45] mathieutu commented on #90
Hi guys, I spent hours on an issue today before finding that this was exactly this one... 😞

We need to do something durable for that.

And @mattstauffer I'm affraid that the solution you proposed isn't one available, because we will have exactly the same problem with a Support/Collection of Tightenco/Collections. A `self` in support one will not resolve tightenco ones...

Maybe could we dynamical

[2018-08-30 12:10] mattstauffer commented on #90
@mathieutu I will not be there, but I look forward to being a part of any/all solutions we can come up with. :)

[2018-08-30 12:11] mattstauffer commented on #104
@mathieutu I'm very happy to consider that idea--I think we went down that road and hadn't yet come up with a concrete description of exactly what actions should be performed in that instance. But I love the idea and I hope that's the root of our solution.

[2018-09-03 10:17] mathieutu commented on #90
@mattstauffer Here we go. I've taked with @taylorotwell and [the PR](https://github.com/laravel/framework/pull/25421) is in the launch pad! I've made things a bit different than in the package (especially because of non existing thing anymore, or testing), so please feel free to make any comments!

[2018-09-04 22:17] be-mohand opened #124 "Classes Dumper and HtmlDumper not found after composer update"
Hi,

After a composer update, I have those errors in my terminal when I call shell commands:
PHP Warning:  Class 'Tightenco\Collect\Support\Debug\Dumper' not found in /home/kreezalid/app/vendor/tightenco/collect/src/Collect/Support/alias.php on line 18
PHP Warning:  Class 'Tightenco\Collect\Support\Debug\HtmlDumper' not found in /home/kreezalid/app/vendor/tightenco/collect/src/Collect/Support/alia

[2018-09-05 00:59] mattstauffer commented on #124
@be-mohand have you been able to figure out which dependency it is, by the way? I've fixed it on our end but I won't be able to push out a fix until Laravel 5.7.3 comes out, and there's no way to predict when that's going to be.

[2018-09-05 11:36] mattstauffer commented on #124
Thanks! Yah anyone with control of the dependencies can just lock it to under 7.0 until the next Laravel release comes out which will hopefully be soon :)

[2018-09-05 11:37] mattstauffer commented on #124
And the good news is that nothing is broken. It’s just annoying, temporarily.

[2018-09-05 12:09] jeremyvaught commented on #124
FWIW I'm getting this globally due to Valet

[2018-09-05 12:15] mattstauffer commented on #124
Yah, there’s an issue in valet repo saying the same thing. It’ll go away as soon as Laravel pushes a new version and you update valet.

[2018-09-05 14:47] bravist commented on #70
[code]

composer global show

[code]

composer global require tightenco/collect:"5.4.*"

fixed problem

[2018-09-05 15:03] mattstauffer commented on #70
@bravist that’s #124

[2018-09-06 15:53] Vormillion commented on #124
Hi,

The same thing happens with module kunalvarma05/dropbox-php-sdk 0.2.1 which requires tightenco/collect ^5.2.

[2018-09-06 15:55] #124 closed

[2018-09-07 08:05] ZigaStrgar opened #126 "Uncaught ErrorException: Class 'Tightenco\Collect\Support\Debug\Dumper' not found"
In my global composer directory where I have my laravel valet installed, I'm getting this error. Probably it is related to this: http://prntscr.com/krlymp

And here is the full dump of the error:

`PHP Fatal error:  Uncaught ErrorException: Class 'Tightenco\Collect\Support\Debug\Dumper' not found in /Users/zigastrgar/.composer/vendor/tightenco/collect/src/Collect/Support/alias.php:18
Stack trace:

[2018-09-07 09:55] Najki commented on #126
That's the second time when my tests started failing after updating this library and again, it's the `alias.php` file. The last time was in [february](https://github.com/tightenco/collect/issues/86). I think that some tests for `alias.php` file should be added at this point.

[2018-09-07 09:59] ImLiam commented on #126
For what it's worth, this package follows the [Laravel versioning scheme](https://laravel.com/docs/5.6/releases#versioning-scheme) which is NOT the semantic versioning you're used to with Composer. Instead of locking to a minor version like `^5.6`, prefer to require a specific version like `5.6.*`.

Looks like the 5.7 branch is still currently a WIP.

[2018-09-07 10:04] Najki commented on #126
Thanks buy when reporting an issue last time in february, I was using a `5.5.*` rule and it still meant that it updated from 5.5.32 to a bugged 5.5.33 so this time I'm not taking any chances and locking it on a fixed `5.6.38`.

[2018-09-07 10:30] mattstauffer commented on #126
@najki curious: did your tests actually fail? Could you show me what they were doing that caused it to fail?

[2018-09-07 10:35] Najki commented on #126
A few tests actually failed but I'm not authorized to show any code. The stacktrace looked very similar to the one provided by @ZigaStrgar but there was phpunit instead of php-cs-fixer at the end. I guess that any test of code using collect would fail, cause PHPUnit will load alias.php through Composer's `vendor/autoload.php` and `alias.php` tries to define aliases for classes which were deleted i

[2018-09-07 10:45] ZigaStrgar commented on #126
Same thing happens when I use any of valet commands. The only difference is that it outputs a warning instead of an error.

[code]

[2018-09-07 10:50] mattstauffer commented on #126
@ZigaStrgar Thanks!

For anyone who comes across this: Maintaining a llbrary that has its own internal logic but which also has to perfectly reflect the release schedule of another framework is not easy. If any of you feel passionate about adding more tests that would cover these circumstances I'd love for you to do so, as it's clearly something you care a lot about and we welcome open source pull

[2018-09-07 11:46] Najki commented on #126
Just sayin', but... people chose to use this library over Laravel's collection for a reason and I doubt that anybody would be upset if it stopped matching Laravel's release dates/versions perfectly while introducing more stability instead.

[2018-09-07 12:00] mattstauffer commented on #126
The problem is, the actual core code of Collect perfectly mimics Laravel’s. This is necessary for hot swap compatibility and it’s also the only way for us to have a not insane mapping between Laravel’s changes and ours.

[2018-09-09 05:15] YouYII commented on #124
This can solve this problem temporarily.
`composer require tightenco/collect:v5.6.27`

[2018-09-09 10:34] mattstauffer commented on #124
That’s fine but not necessary; it’s fixed in the latest.

[2018-09-10 08:39] monro93 commented on #124
Hi @mattstauffer ,
We still have the warning, I have been looking at the cause, is caused because we have symfony 3.4 and in the last tag (5.7.2) the library requires `"symfony/var-dumper": "^4.1"` which is not compatible with the requirements from symfony for the var-dumper (3.4.*), so the composer update resolve to install the version 5.7.1, that still have the issue.
Regards!

[2018-09-10 10:47] mattstauffer commented on #124
Ugh that sucks. Can you manually set a constraint to get Collect less than 5.7.0 then?

[2018-09-10 11:13] monro93 commented on #124
I will try to open a PR, but I don't have too much expectations :(
Thanks

[2018-09-10 11:33] mattstauffer commented on #124
Monro I’ll check!

[2018-10-04 09:49] crtl opened #131 "PHP Warning Not found in alias.php Line 18"
Installing this package prints the following errors on my system:

[code]

I dont know what `Illuminate `you refering for in the `alias.php` because there is no dependency defined in package.json

[2018-10-25 01:59] anthonyterrell opened #137 "Add tests to ensure we never again have passing tests and a bad release because hard-coded classes or interfaces in upgrade.sh no longer exist"
References #124

[2018-11-04 16:39] artaud01 opened #139 "pt"

[2018-12-18 14:58] mathieutu commented on #104
Hey @mattstauffer (and @antonioribeiro).
Now the PR is aborted, what do you think about a simple class_alias in a service provider? I've tested it in some projects, and it seems to be working pretty well.

It'll completely replace Laravel collection with tigtenco ones. We could let an optout via the config, and so it will solve all the problem we have.

What are your thoughts about that guys?

[2018-12-20 01:38] mattstauffer commented on #104
It's been a long time since I've really thought of that. So I can't say for sure.

My quick response is that I'd be worried about what that does when a library imported might expect to be using Collect, or your internal code is expecting to be using Illuminate Collections, and you have different versions of Collect and Illuminate Support.

[2019-03-08 17:36] tarnagas opened #154 "Debug\Dumper is missing in Support"
https://github.com/tightenco/collect/blob/7a9a1aa3f1478d6baba2d3a95e18d2ad8caaf5c4/src/Collect/Support/helpers.php#L113

``use Tightenco\Collect\Support\Debug\Dumper;``

https://github.com/tightenco/collect/tree/laravel-5.8-ongoing/src/Collect/Support

[2019-03-10 13:27] janbodnar opened #155 "Reduce does not work with chunk"
I have an example where I use reduce with chunk. In the second call,
the computation is `1*2 + 3*4 + 5*6`, which should give 44. It gives 2.

I have worked with Collect.js, which is a port of Laravel's collections, where
it works OK.

[code]

[2019-03-10 14:08] mattstauffer commented on #155
This library is just a reproduction of Laravel’s collections. If you try your example in Laravel does it work the way you want?

If it works in Laravel but not this package, that’s a problem.

If it works the same way in Laravel and this package, then you should make the issue in Laravel.

Thanks!

[2019-03-10 14:28] janbodnar commented on #155
It's the same in Laravel.

I have created an issue there
https://github.com/laravel/framework/issues/27844

[2019-03-10 14:28] #155 closed

[2019-04-14 10:27] godbout opened #159 "No High Order Messages on Collections?"
As usual, I might be missing something here so please advise me if I'm wrong.

I'm trying to generate a PHP file with Jigsaw (for serving random writings).

I have a part of the following (ugly) code that fills an array with the URLs of my writings:
[code]
this generates:
[code]

I'm expected to get the same as above by using high order message like this:
[code]

but instead the output is this:
[c

[2019-04-15 15:31] mattstauffer commented on #159
@godbout My guess is that this isn't about `collect` but instead that you put that `each` in a context where you expect it to `echo` but instead you sent the collection object itself to the view.

Can you spin up a plain PHP project, include collect, and reproduce this issue?

[2019-04-15 17:42] godbout commented on #159
Hey @mattstauffer, thanks for the quick answer. I'm realizing that I've probably posted this issue in the wrong repo, posting it in tightenco/jigsaw might have been better instead. What I thought was that maybe, like you said, Jigsaw was actually not handling or sending the collection correctly? (Which I doubt, it's probably me who is not using it correctly.)

I'll try a plain PHP project and will

[2019-04-16 08:25] godbout commented on #159
Ok I've tried with plain PHP and I've had the same issue. But it's on me. I realize now that it doesn't make sense to call `echo` on the result of `each`,  I misunderstood how `collect` works. If I add a method that actually does the `echo` and calls it from the `each` then it works fine. Thanks for the help!

[2019-04-16 08:25] #159 closed

[2019-05-27 15:47] Juyn opened #164 "[Bug ?] data_get helper cannot access properties of private object"
Hi,

I'm using Collect on a Symfony project, and, I have an issue while trying to 'pluck' or 'sum' some elements from my objects.

The specifity is that my object are using only private/protected objects (dunno why really ...), and the method 'data_get' cannot access this properties.

For now, I did managed to find a workarround, using Symfony\Component\PropertyAccess\PropertyAccess, but it's only

[2019-05-27 16:25] mattstauffer commented on #164
@juyn Hey! Thanks for the issue. Collect perfectly reproduces the code and functionality of Laravel's collection helper, so we can't change anything in here that isn't changed in the Laravel core. So any issues about changed functionality would have to go there: https://github.com/laravel/framework

That said, I think it's unlikely that `data_get` is modified to reach into private properties, but

[2019-05-27 16:25] #164 closed

[2019-05-27 21:49] Juyn commented on #164
Thanks for the reply.
Indeed, I didn't really thought that you would have implemented this feature, certainly not in that repo. But hey, I did have to try !

I did open an issue on Laravel's repo, without conviction tho.

However, it's a shame since it prevent me from using basic collection methods like pluck or sum.
I guess I'll just fork this repo, not such a big deal.

[2019-06-04 15:29] eaglepie opened #166 "when i "composer jaeger/querylist",but there are two errors shows?"
i just want to use querylist, and so installed this  auto download,the messages are:

Warning: Class 'Tightenco\Collect\Support\Arr' not found in D:\Web\xxx\simplewind\vendor\tightenco\collect\src\Collect\Support\alias.php on line 16

Parse error: syntax error, unexpected '=' in D:\Web\xxx\simplewind\vendor\tightenco\collect\src\Collect\Support\Arr.php on line 384

how to fix them? anybody knows?

[2019-06-04 18:23] SeanJA commented on #166
That seems like it might be a php version problem, what version of php do you have? The code on that line uses the list shorthand, which only became a thing in php 7.1 (I think?):

https://developer.hyvor.com/php-list

[2019-06-09 15:30] eaglepie commented on #166
maybe,thank you .my PHP version is 7.0.12 nts or php 7.2.18, In laragon ,i switched the php version,But the same prompt is displayed.

[2019-06-10 00:59] mattstauffer commented on #166
@eaglepie which version of Collect is this?

[2019-06-10 02:09] eaglepie commented on #166
@mattstauffer the newest version.

[2019-06-10 02:56] mattstauffer commented on #166
OK, that line is using array destructuring, which was introduced in PHP 7.1:

https://github.com/tightenco/collect/blob/5316c833a8c380d736b6e33a33a8781a50be3614/src/Collect/Support/Arr.php#L384

So the latest version of Collect works on 7.2 but not on 7.0, if I'm reading that correctly.

[2019-06-10 03:03] SeanJA commented on #166
That's weird, because the composer file says 7.1.3:

https://github.com/tightenco/collect/blob/laravel-5.8-ongoing/composer.json#L13

[2019-06-10 03:31] mattstauffer commented on #166
I wonder whether it was installed when the OP was using 7.2 but is now running on 7.0? Or differenr versions for web vs CLI, or local machine vs vagrant/vm?

[2019-06-20 12:10] MatusBoa opened #168 "Symfony var-dumper requirement"
Hey,

I am getting this error when I try to run `composer update`:
[code]
I think it should be `^3.4.0` or `3.4.*` instead of `>=3.4 <5` or I am missing something?

Thanks.

[2019-06-20 12:12] kotass commented on #168
Tried to require `>=3.4 <3.5` and it works :thinking:

[2019-07-12 13:58] #154 closed

[2019-07-17 01:50] anthonyterrell commented on #168
Hey @kotass,

I'm having difficulties replicating this issue, can you tell me the steps you took to reproduce this or what version of Collect this occurred on?

[2019-08-09 05:48] kotass commented on #168
Hey @anthonyterrell,

I just did `composer update`, to update all my packages and error i shared earlier just occurs out of nowhere.. I forked your package, updated dependency to `>=3.4 <3.5` instead of `>=3.4 <5`, and it just works.

[2019-08-14 12:22] LarBearrr commented on #104
I have been trying desperately to install `okta/sdk`, which requires this package, on a Laravel 5.5 application but to no avail. Okta says they have fixed it by updating to your latest release; however, this does not have seemed to resolve the issue. Does anyone have any suggestions on how I can address the issue? Any feedback is appreciated. Thanks much!

[2019-08-14 12:28] mattstauffer commented on #104
@LarBearrr Please open a new issue. Thanks!

[2019-08-14 12:33] LarBearrr opened #176 "Unable to use with Laravel 5.5 through okta/sdk"
I have a Laravel 5.5 application that needs to use [okta/sdk](https://github.com/okta/okta-sdk-php/). When trying to install their latest release, composer says:
[code]
I have contacted Okta, to which they say the issue has been fixed; however, as you can see, there are still problems. Are there any suggestions on how I can work around this issue?

Any feedback is appreciated, thanks!

[2019-08-14 12:47] mattstauffer commented on #176
OK, so that's because we require var-dumper 3.4+ and Laravel 5.5 used var-dumper 3.3.

We *may* be able to fix this, I'm not sure.

[2019-08-14 12:48] LarBearrr commented on #176
Interesting... how long would a fix like this take?

[2019-08-14 12:49] mattstauffer commented on #176
https://github.com/laravel/framework/blob/0f538802144a41664f545fd92bbb556000cba115/composer.json#L38

Actually.. it's ~3.3, which as far as I know would allow for 3.4, which we required as a minimum.

Just a random idea, because I'm not the king of Composeer; can you delete your composer.lock file, add the okta package to your composer.json, and try a fresh `composer install` (do this on a branch

[2019-08-14 12:50] mattstauffer commented on #176
If it *is* a bug, it'll take as long as it takes. :) This is an open source package, not a commercial one, so there's no guarantee of bug fixes or "uptime". It's run by people volunteering their time (some of whom work at tighten, some of whom don't).

[2019-08-14 12:55] LarBearrr commented on #176
Sure, I totally understand and I wasn't meaning to come off pushy. Just trying to figure out what I need to do to meet a #deadline.

I just tried your suggestion and `okta/sdk` will install; however, your package does not get brought in. I'm not sure if it is an issue but Laravel's composer "replaces" your package: https://github.com/laravel/framework/blob/5.5/composer.json#L71

I may need to fork

[2019-08-14 12:57] mattstauffer commented on #176
Ahh.. yah... we got rid of that replace because of this exact issue.

I would try explicitly requiring the collect package in your repo. Let me know if that helps.

No worries about being pushy, sorry to be defensive. :)

[2019-08-14 13:02] LarBearrr commented on #176
TBH, I'm slighly disappointed in the level of support and code quality from Okta. That being said, if I use their `1.0.0` release, which actually uses Laravel's Support module for collections, it will install. However, their implementation of the `operatorForWhere` method does not match the expected footprint from Support:
[code]

A quick update to their source fixes the issue 🤔

[2019-08-14 13:02] mattstauffer commented on #176
Yah, the problem is, it needs to work both on 5.5 apps AND 5.8 apps, which is where this problem arises.

[2019-08-14 13:04] LarBearrr commented on #176
Back to your previous suggestion, do you know the composer command to bring in your version that would be compatible with 5.5?

[2019-08-14 13:07] mattstauffer commented on #176
Ours is compatible with 5.5, actually.

[code]

[2019-08-14 13:12] LarBearrr commented on #176
Hmm...
[code]

[2019-08-14 13:16] mattstauffer commented on #176
@LarBearrr Can you delete your `composer.lock`, add this `tightenco/collect` to your `composer.json`, and then composer install?

[2019-08-14 13:18] LarBearrr commented on #176
Unfortunately that doesn't do it either, same issue.

[2019-08-14 13:24] mattstauffer commented on #176
huh. We have a very, very small require block so I'm really surprised by that:

<img width="338" alt="image" src="https://user-images.githubusercontent.com/151829/63024241-d75a1680-be74-11e9-98e6-21fe781b4807.png">

Would you try this constraint instead?

[code]

And then do the same thing? I just pulled out the var dumper to see if that's the issue.

[2019-08-14 13:31] LarBearrr commented on #176
Same 😞 Terribly sorry to be eating up so much of your time!

[2019-08-14 13:40] mattstauffer commented on #176
That's... really weird. I can't for the life of me figure out what would conflict, honestly.

[2019-08-14 13:43] LarBearrr commented on #176
Me either.. I've spent nearly a week trying to figure this out and it's driving me up the wall. Like I said, Okta hasn't been very responsive except to say basically "works on my machine." Anyhow, I don't expect you to spend a ton of time on it. Worst case I can fork their repo and make the changes I need to get by. I certainly appreciate your responsiveness and time. Do let me know if something c

[2019-08-14 13:46] mattstauffer commented on #176
@LarBearrr could you do me a favor? Could you write in a comment here the full writeup of your *current* situation? Like:

"Here's my composer.json. Here's my PHP verison. I deleted my composer.lock and vendor folder, added this branch matt made for me, ran composer install, and here's the error I got."

Then I can ask around a bit pointing straight to that comment.

[2019-08-14 13:59] LarBearrr commented on #176
Sure, thanks for your willingness to look into it. It also may be helpful to know the framework I'm using: [OctoberCMS Composer Install](https://octobercms.com/docs/console/commands#console-install-composer)

`composer.json`:
[code]

PHP Version (machine): 7.3
PHP Version (composer?): >= 7.0

So far, I have tried:

1. `composer require okta/sdk` with the existing `composer.lock` in place, which pr

[2019-08-14 15:36] DanielCoulbourne commented on #176
@LarBearrr It appears you may have an extra composer.json being merged in according to this block
[code]

Could you edit your above comment to  include that as well?

[2019-08-14 16:44] mathieutu commented on #104
@mattstauffer unfortunately it can be the same issue, as tightenco/collect isn't fully compatible with Laravel anymore.

[2019-08-14 17:22] mattstauffer commented on #104
@mathieutu

1) it could be the same issue but, as you can see in the issue he opened (#176) I needed a lot of info from him that i didn't want to clutter this issue with those

2) I'm not sure what you mean it's not fully compatible?

Thanks!

[2019-08-15 08:03] mathieutu commented on #104
@mattstauffer because of both issues I opened a while ago on this repo, there are still issues when using collect (in a package installed) in a laravel project.

The conflicts between Illuminate and Tightenco collections leads to real bugs in Laravel projects.

[2019-08-15 12:07] mattstauffer commented on #104
@mathietu we have years of back and forth and at least one failed major PR to the framework. If you are still concerned with the current state I’d love for you to close the existing issues and create new fresh ones with the state of the issue as it exists today with links to the originals. Thanks for your help!

[2019-08-15 12:33] mathieutu commented on #104
@mattstauffer The issues are still exactly the same than before. I can close and reopen them, but they will be totally the same.

[2019-08-15 12:35] mattstauffer commented on #104
@mathieutu You obviously have more time and energy to consider these things than I do. If you want to take some work to collect the A) problem and B) solutions I would be more than happy to look at it immediately. If you need me to read through every idea and every comment and figure out which are and aren't relevant for me to make decisions today then I'm not going to do that and we're going to s

[2019-08-15 12:42] LarBearrr commented on #176
@DanielCoulbourne Thanks for the reply. The framework I'm using (OctoberCMS), uses plugins that may have their own dependencies. I would have to include the composer.json files for each plugin, which seems cumbersome. I also don't think any of these are causing the issue as I have tried with a fresh install of October and still have issues. This problem also exists with vanilla Laravel application

[2019-08-15 13:08] mattstauffer commented on #176
@LarBearrr My suspicion based on a quick test @loganhenson ran for me yesterday is that it's the specific version constraint that the Okta package used that's the issue. Let me take a look at that and get back to you.

[2019-08-15 18:02] mattstauffer commented on #176
@LarBearrr OK, so I just tried this on a local Laravel 5.5 repo:

[code]

And it worked for me. So let's start there.

Dropping both the lock and the vendor folder, strangely, has an impact on what it thinks it already has installed.

[2019-08-15 18:06] LarBearrr commented on #176
@mattstauffer Very interesting... I appreciate you taking so much time to look into this. I'll have to buy you a coffee @ Laracon next year 😄 Let me see if I can get as far as you. My only concern is how this plays out when it's time to deploy to production?

[2019-08-15 18:12] mattstauffer commented on #176
If you get it fixed in your `composer.lock` file in version control, that'll push up to production with no issue. :) Coffee sounds great! :D @loganhenson is also helping me out behind the scenes here. :)

[2019-08-15 18:14] LarBearrr commented on #176
Just out of curiosity, have you ever integrated with Okta before?

[2019-08-15 18:14] mattstauffer commented on #176
Nope :)

[2019-08-15 18:15] LarBearrr commented on #176
Fair enough, is there a better channel to reach you at for DM/PM? I'll circle back here later this evening with an update.

[2019-08-15 19:17] mattstauffer commented on #176
@LarBearrr Laravel Discord maybe? Or just here ¯\(°_o)/¯

[2019-09-20 18:25] stevebauman opened #180 "Support for Laravel 6.0 LazyCollection"
With Laravel 6.0 being released with [LazyCollection](https://github.com/laravel/framework/blob/6.x/src/Illuminate/Support/LazyCollection.php)'s, is this going to be implemented soon?

I can try writing a PR if necessary!

Thanks!

[2019-09-20 20:52] mattstauffer commented on #180
We'd definitely love to! A PR would be nice--the tough part there is we would also have to modify that `upgrade.sh` script to get its files over, and its tests. I'll assign this to you and if you can't grok it please let us know!

[2019-09-21 00:04] stevebauman commented on #180
Ok sounds good @mattstauffer! I’ll give it a go this weekend :smile:

[2019-09-23 12:18] Ejike94 opened #181 "PHP Warning: Class 'Tightenco\\Collect\\Support\\LazyCollection' not found"
Hello,

Today after a Composer update I started getting the following errors:
 PHP Warning:  Class 'Tightenco\\Collect\\Support\\LazyCollection' not found in /home/ubuntu/...../tightenco/collect/src/Collect/Support/alias.php on line 19

PHP Parse error:  syntax error, unexpected '=' in
/home/ubuntu/...../tightenco/collect/src/Collect/Support/LazyCollection.php on line 563

I was wondering if the m

[2019-09-23 12:23] Ejike94 commented on #181
The version of Collect that i use is this one:
tightenco/collect                 v6.0.3   Collect - Illuminate Collections as a separate package.

[2019-09-23 12:57] mattstauffer commented on #181
@Ejike94 Sorry, the current release of Collect doesn't have LazyCollections in it--but we're fixing that ( #180) and the next dot release will have it.

[2019-09-23 15:12] Ejike94 commented on #181
Hi,

Thanks for you reply. So after speaking with one of the developers in our company, we notice that there was a line on the code that was not being recognised by php.

The reason was because apache was running php7.0 whereas, that line of code only works on php7.3

I just had to enable that on the webserver and everything started to work smoothly.
so i disabled php7.0 for apache and enabled 7.3

[2019-09-24 19:57] mattstauffer commented on #181
I was wrong! It definitely *does* have LazyCollections, and you're right, it was because you were trying to run this package, which requires PHP 7.1, on PHP 7.0. Thanks!

[2019-09-24 19:57] #181 closed

[2019-09-24 20:00] mattstauffer commented on #180
@stevebauman So... @anthonyterrell informed me we already have it! :)

[2019-09-24 20:00] #180 closed

[2019-09-24 20:01] stevebauman commented on #180
Ah perfect, thanks @mattstauffer! :)

[2019-10-11 02:06] LarBearrr commented on #176
@mattstauffer Thanks for your time trying to work through this with me. I've managed to get a workaround using `v1.0.0` of Okta's package and `class_alias()` to trick it into using `Illuminate\Support\Collection`. I'm going to close unless you want to keep open?

[2019-10-11 17:03] mattstauffer commented on #176
@LarBearrr I think so--I don't think I was able to reproduce it with a plain install so let's call it good until someone else runs into it. Thanks!!

[2019-10-11 17:03] #176 closed

[2019-11-12 09:38] A-Elshorafa commented on #88
I am discover that i am download wronge file for php_mongodb that's for later verison of php

Check that the php_mongodb.dll is for your php version

[2019-12-06 23:00] jamisonvalenta commented on #166
Closing this issue, as [php 7.1 is no longer maintained](https://www.php.net/supported-versions.php).

[2019-12-06 23:00] #166 closed

[2019-12-12 23:43] mittelgrau opened #199 "Symfony dump() dependency."
As far as i can see the Symfony\VarDumper Dependency is just used once in a helpers method. Is it essential? A simple global non namespaced helper function with a pretty unspecific name like dump() command often has the potential to cause conflicts with other utility methods. Would be of great help if a native solution could be used. Not really a Php guy, are there any critical reasons why the sym

[2019-12-19 02:20] mattstauffer commented on #199
The main reason is that the output of the two commands is pretty significantly different. The left is the `dump()` command; the right is your example:

<img width="1678" alt="image" src="https://user-images.githubusercontent.com/151829/71139395-08a87180-21dc-11ea-9b4c-a165b48e5cd9.png">

Even if you can force the wrapping with `<pre>`:

<img width="840" alt="image" src="https://user-images.githubu

[2019-12-20 21:24] mittelgrau commented on #199
I see, thank you for taking the time to answer and explaining it.

[2020-01-17 14:55] stevebauman commented on #104
Reading over the PR's and issues about this, maybe I'm misunderstanding something, but I don't think Laravel collections and Tightenco collections should be mixed together or treated identically / similarly. If you treat them as separate packages then there isn't an issue.

In my opinion, I don't think class aliases should be used to auto-magically use the Illuminate namespace to create Tightenco

[2020-01-28 05:29] saqib006 commented on #88
You'll want to make sure you upgrade both the web and cli versions of php to 7.1.2. A lot of times people will only upgrade the web version (and composer will then allow the install), but laravel uses both.
[Free Code Zilla](https://freecodezilla.com)

[2020-02-10 14:52] timkelty opened #202 "Problems with composer dependency install (Tightenco\Collect\Support\Collection' not found)"
I've had a few people post having a problem with the Collection dep here: https://github.com/riasvdv/craft-scout/issues/130

I've had people post their composer.json/lock files and zipped up vendor dir, but haven't had a chance to troubleshoot yet.

Wanted to post here first to see if it rang a bell to anyone.

[2020-02-17 09:42] Th3Mouk commented on #199
Hi @mattstauffer !

What about let the developper choose if he want or not the dependency ? It can be a suggest in `composer.json` and you can add and assertion on `dd()` to check if the class is loaded.
With a nice message like `symfony/var-dump is require to use this method`.

And so you can move the dependency to `require-dev` to ensure the CI still working

[2020-03-09 21:17] mattstauffer commented on #199
@Th3Mouk I love the idea. I'm a little bit not a fan of forcing folks to add another dependency to get something that should feel like it's available out of the box, but to be honest nice messaging telling you exactly what to do to use it isn't all that bad of an idea. Let me think about it!

[2020-03-24 18:26] Nahuelvvn commented on #202
Did you check PHP version? It looks broken in 7.3

[2020-03-24 18:30] Nahuelvvn commented on #202
Did you check PHP versions? Mine was broken with 7.0 but working in 7.1 and above

[2020-04-21 17:11] mattstauffer opened #217 "Figure out the best deprecation pattern for Laravel 8.0"
https://github.com/laravel/framework/pull/32478

Taylor's opened a PR to extract Collections from Support (🥳), so Collect won't be needed.

The simplest thing we could do is to just stop releasing after 8.0.

But I'm curious whether package authors who rely on Collect would prefer we make 8.x a bridge version so it's not a sudden deprecation, and whether, if we did that, we should have it continue

[2020-04-21 17:41] mathieutu commented on #217
Actually, stopping releasing would not bother me. The used version would be still usable, without problem.

However, if you want to keep a bridge, we can just require the illuminate/collection in the package, and extends the laravel classes in this ones, with a deprecation notice?

[2020-04-21 18:07] mattstauffer commented on #217
Yah, that's what I was suggesting in my final paragraph. I wonder if that would give some authors an easier transition--and that way they could also more slowly deprecate their reliance on Collect, instead of requiring everyone to upgrade to Laravel 8.

[2020-04-21 18:24] mathieutu commented on #217
OK, I thought aliasing the classes.

I'm thinking of what could be the difference, and the benefit of keeping the bridge.

If release stops, nothing will change for an existing project, because the tag will protect them.

BUT if the final project have conflict version with Laravel 8, the conflict will occur the same if we require `illuminate/collections:8.0` in this package. So it doesn't fix the

[2020-04-21 18:30] mattstauffer commented on #217
So, Valet currently requires this:

![image](https://user-images.githubusercontent.com/151829/79900573-6ba15380-83dc-11ea-9141-8795cf21896a.png)

Is there an easy solution for requiring "^Collect 6.0 OR collect ^7.0 OR illuminate/collection ^8.0"?

I figured there wasn't, so we would basically give folks the ability to bump their requirements to "collect ^6.0 || ^7.0 || ^8.0" immediately, then spe

[2020-04-22 07:39] mathieutu commented on #217
Yeah, actually it can be a good compromise.

But this shows us an unexpected issue of creating an illuminate/collection which is used by default in laravel. You can't use anymore the last collections methods in an old laravel project...

Don't know if we could do something about that. 🤔

[2020-04-25 18:34] austinpray commented on #199
Thanks for all the work on this package! I am currently in dependency hell after spamming Illuminate\Support all over my non-laravel codebase.

Honestly didn't expect to see `dd()` included in this package. Seems out of scope for a "Collections-only split from Laravel's Illuminate Support". Furthermore didn't expect to see `symfony/var-dumper` as a hard dependency. I got all excited after reading

[2020-04-25 18:43] mattstauffer commented on #199
I’m open to a PR

[2020-05-17 20:49] NanakiRus opened #224 "Error Class 'Tightenco\Collect\Support\Debug\Dumper' not found"
https://github.com/tightenco/collect/blob/79e6bbf22da0e685c8122030374e5db953750b3b/src/Collect/Support/helpers.php#L113

[2020-05-18 00:57] mattstauffer commented on #224
Please provide more information. What version of Collect are you using? This is an old bug that I was under the impression was fixed; the only place I can reproduce it is the `5.5.*` line. Are you using a 5.5.* version of Collect? If so, can you upgrade?

[2020-08-02 20:07] austinpray opened #236 "illuminate/collections exists: what now?"
Now [illuminate/collections](https://github.com/illuminate/collections) exists. So far looks like it's a drop-in replacement for this package. [illuminate/collections](https://github.com/illuminate/collections) even solves [some problems](https://github.com/tightenco/collect/issues/199#issuecomment-619422506) I have with this package.

According to [the Readme](https://github.com/tightenco/collect

[2020-08-03 14:12] mattstauffer commented on #236
Thanks @austinpray! Closing as a duplicate of https://github.com/tightenco/collect/issues/217

[2020-08-03 14:12] #236 closed, assigned to nobody

[2020-08-03 14:31] austinpray commented on #236
@mattstauffer Ah! Thank you! That discussion was exactly what I was looking for :+1:

[2020-08-14 14:12] bakerkretzmar commented on #224
@NanakiRus feel free to open a new issue if you're still getting this error after updating!

[2020-08-14 14:12] #224 closed, assigned to nobody

[2020-08-14 14:17] #168 closed

[2020-09-07 20:14] mattstauffer commented on #217
Steps:

- [ ] Make a new 8.0 branch and set all defaults right etc.
- [ ] Plan and communicate deprecation strategy
- [ ] Update our `upgrade.sh` to copy over from `illuminate/collections`

[2020-09-07 20:23] mattstauffer commented on #217
My current thinking about the deprecation strategy:

Give folks that depend on `collect` at least one, but likely two, major versions of `Collections` before we phase Collect out.

The goal:
Any packages depending on Collect will be able to replace the Collect dependency with an `Illuminate/Collections` dependency in a year, at which point requiring `illuminate/collections:^8.0` won't force their

[2020-09-08 16:51] stevebauman commented on #217
This is awesome, thanks @mattstauffer! I have a [package out right](https://github.com/DirectoryTree/LdapRecord) now requiring this, so I really appreciate the `v8.0` release while I prep my own major `v2` release requiring `illuminate/collect`.

[2020-09-08 16:52] mattstauffer commented on #217
Glad to hear it @stevebauman!!

[2020-11-28 18:03] drbyte opened #249 "PHP 8 anomaly"
Using PHP 7.4, running `composer require tightenco/collect` installs `v8.15.0`
Using PHP 8.0, running `composer require tightenco/collect` installs `v5.6.33`

I think it's because in the laravel-55-ongoing branch you say `"php": ">=7.0",`:
https://github.com/tighten/collect/blob/laravel-5.5-ongoing/composer.json

... but in newer branches you constrain it to 7.x, eg: `"php": "^7.2",`
https://githu

[2020-11-28 18:04] drbyte commented on #249
Easy example to reproduce: install PHP 8 with Valet and run `composer global update`

[2020-11-30 03:51] mattstauffer commented on #249
Ouchhhhhh :/

I know we can fix that in ongoing releases but it'll still be a problem because all the old releases have that constraint. Best solution going forward is to get a release that supports PHP 8.

@jamisonvalenta Is there any reason not to update the `composer.json` to also support 8.0? This is what `illuminate/support` requires:  `"php": "^7.3|^8.0",`

[2020-11-30 03:52] mattstauffer commented on #249
If I'm looking at the diff correctly, it's gonna be a valid constraint as of 8.12:

https://github.com/illuminate/collections/releases/tag/v8.12.0

[2020-11-30 16:40] jamisonvalenta commented on #249
@mattstauffer No reason on my part to not update `composer.json` to `"php": "^7.3|^8.0"`.

I'm not sure how to best proceed with tagging, since we're directly tracking `collections`'s tags. Is it preferable to make that update on the most recent code, and include that `composer.json` change in whatever the next `collections` release is, or do we need to go back to `8.12` and make a new minor versi

[2020-11-30 16:43] mattstauffer commented on #249
@jamisonvalenta We've always worked to not re-publish releases, as frustrating as that will make our current situation, so let's update the code now and let it go out next time collections has a tag.

Thanks!

[2020-12-04 18:52] mattstauffer commented on #249
https://github.com/tighten/collect/tree/v8.17.0

Fixed, hopefully. Testing now.

[2020-12-04 18:57] mattstauffer commented on #249
Yep! Fixed!

[2020-12-04 18:57] #249 closed, assigned to nobody

[2020-12-21 08:04] I-Valchev opened #259 "Are there breaking changes between 7.x and 8.x?"
Hi! In https://github.com/bolt/core/pull/2257 we're looking to allow `^7.25 || ^v8.0.0` to clear the way to supporting PHP8 in `bolt/core`. I don't want to switch to `^8.x` yet because that'd mean dropping support for PHP 7.2.

Therefore, are there any breaking changes in this package between 7.x and 8.x? Thanks!

[2021-03-16 02:49] mattstauffer commented on #259
@I-Valchev Sorry for the delay; since we only mirror Laravel's Collections package, the best place to ask is there.

[2021-03-16 02:49] #259 closed, assigned to nobody

[2021-05-12 21:02] samirfor commented on #124
Works with "zendframework/zendframework1": "1.12.19"

[2021-11-26 12:39] webmastervinay opened #261 "Deprecated Notice on PHP 8.1"
[code]

This warning message is shown on PHP 8.1.  May be the PHP dependency is not updated.

[2021-11-29 10:49] assoft commented on #261
This line of code can solve your problem

`composer global update && valet restart`

[2021-11-29 11:14] wturrell commented on #261
@assoft I've already tried this unfortunately, and I already have what I believe are the latest versions: tightenco/collect  v8.34.0 and Laravel 2.16.1.

[2021-11-29 11:19] assoft commented on #261
Yes I can confirm that this warning persists.

However, this does not seem to interfere with the work! You can continue like this for a while (until the update comes) or consider reverting to php 8.0.x.

[2021-11-29 15:13] driesvints commented on #261
I'm working on a PR here: https://github.com/tighten/collect/pull/262. Need a maintainer to approve the GHA so I can fix any failing builds.

[2021-11-29 16:36] mattstauffer commented on #261
Closed by mistake, Dries still working on it.

[2021-11-30 10:41] #202 closed, assigned to nobody

[2021-11-30 10:41] driesvints commented on #202
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel to open up a new issue if you're still experiencing this.

[2021-11-30 10:41] #90 closed

[2021-11-30 10:42] #104 closed

[2021-11-30 10:42] #137 closed

[2021-11-30 10:43] #199 closed, assigned to nobody

[2021-11-30 18:45] mattstauffer commented on #261
We fixed this this problem (thanks @jakebathman and @jamisonvalenta!) and updating your `Collect` dependency to `8.68.0` or higher will fix it. If you're running into this issue with Valet, simply run `composer global update`.

[2021-11-30 18:45] #261 closed, assigned to nobody

[2021-12-07 18:55] mattstauffer opened #264 "Update new tag-commit-push script to work around pushing branches and PRs"
Using branches & PRs means we get the benefit of CI running across all environments, not just the dev's local machine.

- [x] Make it create a branch
- [x] Drop tagging (because we can't tag until after green tests)
- [ ] Fix up the validator to actually work
- [ ] Make it create a PR using `hub` or whatever after pushing the PR

[2022-01-12 07:17] olischmidt123 opened #270 "PHP 8.1 deprecation warning"
Just updated to php 8.1 and noticed some deprecation warnings:

Deprecated: Return type of Tightenco\Collect\Support\Collection::offsetUnset($key) should either be compatible with ArrayAccess::offsetUnset(mixed $offset): void, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice in vendor/tightenco/collect/src/Collect/Support/Collection.php on line 1449

PHP

[2022-01-12 16:57] jamisonvalenta commented on #270
Hello @olischmidt123!  As stated in the documentation, this package is exact copy Illuminate Collection in Laravel/Framework. If you'd like to become more involved, please direct your issues or PRs to `laravel/framework`.  Thanks!

[2022-01-12 16:57] #270 closed, assigned to nobody

[2022-01-19 10:26] jupitern opened #273 "php version issue"
Hi,
Requiring symfony/var-dumper v6 limits the compatibility to php8 and in composer.json you have ^7.3|^8.0
This is causing compatibility issues in other packages that require tighten/collect in the chain of dependencies :)

[2022-01-19 16:51] jamisonvalenta commented on #273
Hello @jupitern!

Our composer.json requires the following:
[code]
I just double checked this by running a composer install locally under `php@7.3`, and composer successfully installed `symfony/var-dumper@5.4`.

Perhaps some other package in your project is requiring `symfony/var-dumper@6.*` or requiring `php@8.0`?

[2022-01-20 09:29] jupitern commented on #273
Yap. My mistake. thanks.

[2022-01-20 09:29] #273 closed, assigned to nobody

[2022-02-08 12:47] jakewhiteley opened #275 "`value` helper incorrect"
Your current `value` function is implemented as follows:

[code]

But it should be:
[code]

As per https://github.com/laravel/framework/blob/8.x/src/Illuminate/Collections/helpers.php#L175

[2022-02-10 17:58] jamisonvalenta commented on #275
Hello @jakewhiteley!  As mentioned in the readme, this package exactly mirrors the releases from `laravel/framework` and extracts `collect` from it, and tags the release with the exact tag present in `laravel/framework`.

If you are seeing code in this package that seems old, check the tagged version of the `laravel/framework` code you expect to see and compare it with what's available here..  We'

[2022-02-10 19:34] jamisonvalenta commented on #275
@jakewhiteley Update: I've gotten the upgrade script working for 8.0 releases, and I'm seeing the discrepancy you mentioned and am looking into what to do with the out-of-sync helpers.php file, as there are a couple of new methods in that file, but it also _drops_ a couple of methods as well. That file was always manually updated in support of getting tests to pass, so since tests have been passin

[2022-02-10 21:28] jakewhiteley commented on #275
Hi @jamisonvalenta , I figured it was a manual update as the file itself is quite different to the laravel/framework counterpart.

What is the normal release schedule for this package?

I am happy to make the PR for version `8.82.0` if that helps.

[2022-02-10 21:32] jakewhiteley commented on #275
It's also worth mentioning that I also wouldn't have noticed, but recently I've been doing a similar thing with blade templating and getting that to run outside of a laravel application. As `collect` helper file is loaded by composer before mine, I can't redeclare `value` to be the up to date version.

So it's a pretty niche use case, but I have been relying on the "extra" files in collect for age

[2022-02-10 22:44] jamisonvalenta commented on #275
@jakewhiteley Good News!  I ended up not publishing the `8.83.0` release, so I've corrected the `value()` method in the #279 and tagged it with `8.82.0`.  `8.83.0` will be out shortly. Let me know if you run into any issues, else feel free to close this issue!

[2022-02-17 17:23] #275 closed, assigned to nobody